.Header
	background $rojochido
	color white
	position fixed
	left 0
	right 0
	z-index 100
	&-wrapper
		display flex
		align-items: center;
		padding 1em
		&-logo
			width 2em
			height 2em
			//background white
			margin-right 2em
			background-image: url(../api/img/pokeball.png)
			background-size:2em