doctype html
html(lang="es")
	head
		meta(charset="utf8")
		meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1")
		link(rel="stylesheet" href="css/app.css")
		title Pokedex
	body
		header.Header
			div.Header-wrapper
				figure.Header-wrapper-logo
				h1.Header-wrapper-title Pokedex
		section.Pokemons
			article.Pokemon
				figure.Pokemon-img
					img
				div.Pokemon-info
					h2.Pokemon-info-name Nombre pkmn
					button 
						b More info
			article.Pokemon
				figure.Pokemon-img
					img
				div.Pokemon-info
					h2.Pokemon-info-name Nombre pkmn
					button 
						b More info
			article.Pokemon
				figure.Pokemon-img
					img
				div.Pokemon-info
					h2.Pokemon-info-name Nombre pkmn
					button 
						b More info
			article.Pokemon
				figure.Pokemon-img
					img
				div.Pokemon-info
					h2.Pokemon-info-name Nombre pkmn
					button 
						b More info

		script(src="./js/index.js")